:root{
    --main-bg-color : #6c5ce7;
    --black-color : #000;
    --margin:0px;
    --padding: 0px;
    --white-main-color :#fff;
    --dark-gray-color: #1e272e;
    --very-light-grey-color :#f0f0f0;

}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--very-light-grey-color);
    font-family: 'Quintessential', cursive;
}
/*navigation bar*/
.menu-buttons ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-buttons ul li a{
    margin: 3px;
    height: 25;
    padding: 0px 20px;
    display: flex;
    font-weight: light;
    color: #585b55;
    letter-spacing: 3px;
    font-size: 12px;
    justify-content: space-around;
}
.navigation ul li a:hover {
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: #fff;
    border-radius: 4px;
}

.social-icons ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.social-icons ul li i{
    margin: 3px;
    height: 25;
    padding: 0px 15px;
    display: flex;
    font-weight: normal;
    color: #585b55;
    letter-spacing: 0px;
    font-size: 15px;
    justify-content: space-around;
}
.social-icons ul li i:hover{
    cursor: pointer;
    background-color: azure;
    color: #6c5ce7;
}
a {
    text-decoration: none;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    row-gap: 20px;
    background-color: var(--white-main-color);
    box-shadow: rgba (17, 12, 46, 0.15) 0px 48px 100px 0px;
}




/* Home section */
.image {
    background-image: url(imgs/gradient-hexagonal.jpg);
    background-color:var(--white-main-color);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.text h1{
    text-decoration: underline;
}
.home-button {
    color: var(--white-main-color);
    background-color:none;
    text-decoration: solid;
    border: none;

}
.home-button:hover{
    cursor: pointer;
    color:var(--main-bg-color);
    border-radius: 4px;
}

/* Skills section */
/* my skills*/
#skills {
    display: flex;
    justify-content: space-around;
}
.skills h1{
    color: var(--dark-gray-color);
    text-decoration: underline;
}
.my-skills {
    
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
}
.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.skill-1 {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px;
    flex-flow: column wrap;
}
.skill-2 {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px;
    flex-flow: column wrap;
}.skill-3 {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px;
    flex-flow: column wrap;
}.skill-4 {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px;
    flex-flow: column wrap;
}
#icon{
    display: flex;
    justify-content: space-between;
    background-color: var(--white-main-color);
    border-radius: 100%;
    margin: 3px;
    height: 50%;
    padding: 0px 15px;
    color: var(--main-bg-color);
    font-size: 30px;
    justify-content: space-around;
}

/* get to know me*/
.form {

    width: 400px;   
}
.form h3{


    align-items: center;
    justify-content: center;
    padding-left: 30%;
    margin-top: 30%;
    line-height:normal;
    text-decoration: underline;
}
.form-text {
    flex-wrap: column wrap;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
    
    
}
.connection-button {
    align-items: center;
    justify-content: center;
    color: var(--main-bg-color);
    background-color:none;
    text-decoration: solid;
    border: none;
}
.connection-button:hover {
    cursor: pointer;
    color:var(--main-bg-color);
    border-radius: 4px;
}
.connection-button a:hover{
    color: var(--white-main-color);
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

#my-projects{
 background-color: var(--white-main-color);
 justify-content: space-around;  
 align-items: center;

}
.projects h1 {
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    padding-left: 45%;
}  
.proj-display {
    justify-content:space-around;
    align-items: center;
    margin: 3rem;
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
}
.proj-1 {
    justify-content: space-evenly;
    margin: 5px;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    
}
.tic i {
    color: var(--main-bg-color);
    font-size: 25px;
}
.proj-2 {
    justify-content: space-evenly;
    margin: 5px;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.book i {
    color: var(--main-bg-color);
    font-size: 25px;
}

.proj-3 {
    justify-content: space-evenly;
    margin: 5px;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.atm i {
    color: var(--main-bg-color);
    font-size: 25px;
}
.proj-display i:hover {
    font-size: 20px;
}

.proj-display a:hover {
    text-decoration: underline;
    text-shadow: var(--black-color);
    color: var(--black-color);   
    font-size: 18px;
    
}
.proj-display a{
    color: var(--black-color);
    text-decoration: none;
}
/*contct form*/
.contact {
    align-items: center;
    justify-content: space-evenly;
   
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact h1 {
    margin-left: 45%;
    align-items: center;
    text-decoration: underline;
    justify-content: center;
}
.left {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.submit-button {
    align-items: center;
    justify-content: center;
    color: var(--main-bg-color);
    margin-left: 46%;
    background-color:none;
    text-decoration: solid;
    border: none;
}

.submit-button:hover {
    cursor: pointer;
    color:var(--main-bg-color);
    border-radius: 4px;
}
.submit-button a:hover{
    color: var(--white-main-color);
    background-color: var(--main-bg-color);
    border-radius: 5px;
}
/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
}